extends layout 

block content 
    script(src="https://cdn.tiny.cloud/1/9chgg9ydxmly7zgjhf6i1dlczq0zpiox7dhujsmwi3v5mz47/tinymce/6/tinymce.min.js" referrerpolicy="origin")
    script.
      tinymce.init({
        selector: '#content',
      });
    form.flex.justify-center(method='POST' action='')
        .form-control.flex.flex-col.justify-center(class='w-1/2')
            label.label.mt-6
                span.label-text Title
            input.input.input-bordered.w-full(type='text' placeholder='title' name='title' required)
            label.label.mt-6
                span.label-text Snippet
            input.input.input-bordered.w-full(type='text' placeholder='snippet' name='snippet' required)
            label.label.mt-6
                span.label-text Content
            textarea.textarea.textarea-bordered(class='h-1/2')(placeholder='content' name='content' id= "content" required)
            label.label
                span.label-text Publish or Save?
            select.select.select-bordered(name='status' required)
                //- option(disabled='' selected='') Pick one
                option(value="publish") Publish
                option(value="draft") Draft
            button(type='submit').btn.btn-primary.mt-6 Submit

    if errors && errors.length > 0
        each error in errors 
            .alert.w-fit.alert-error.mt-6.text-center.mx-auto
                svg.stroke-current.shrink-0.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z')
                span
                    p= error.msg     